language: perl

perl:
  - "5.22"
  - "5.20"
  - "5.18"
  - "5.16"
  - "5.14"

before_install:
  - sudo apt-get update -qq
  - git clone git://github.com/travis-perl/helpers ~/travis-perl-helpers
  - source ~/travis-perl-helpers/init

install:
  - cpanm --quiet --notest Module::Install::AuthorTests
  - cpanm --quiet --notest Module::Install::DOAPChangeSets
  - cpan-install --deps

notifications:
  irc: "irc://irc.perl.org/#perlrdf"

